/* import the tailwindcss library */
@import "tailwindcss";

/* custom tailwind styles below */
/* add standard custom colors to the overall theme */
@theme {
    --color-background: #16161d;
    --color-copy: #16461d;
}

/* define project base styles */
@layer base{
    body {
        /* change body bg and copy colors */
        background-color: var(--color-background);
        color: var(--color-copy)
    }
}
